@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Work flow management</h1>
    <div class="container">
        @*<div class="row">
            <div class="col col-lg-1">
                <button type="button" name="btnPolicy" class="btn btn-lg btn-primary">Policy Management</button> 
            </div>
            <div class="col col-lg-1"></div>
            <div class="col col-lg-1">
                <button type="button" name="btnIncident" class="btn btn-lg btn-primary">Incident Management</button>  
            </div>
        </div>*@
        
    </div>
</div>
